:root {
    font-family: system-ui, sans-serif;
    --clr-bg: #fff;
    --clr-main: #222;
    --box-shadow: 0px 0.5rem 2rem rgba(51, 51, 51, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: var(--clr-bg);
    color: var(--clr-main);
}

section {
    padding: 1.5em;
    margin: 0.5em 0;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: var(--box-shadow);
    max-height: 50vh;
    overflow-y: scroll;
}

.wrapper:nth-child(1) > section:nth-child(2) {
    order: -1;
}

 h1, h2 {
    padding-bottom: 0.5em;
} 

h1 {
    padding-top: 1em;
    text-align: center;
}

p {
    padding: 0.5em 0;
} 

span {
    font-size: 1.1rem;
    font-weight: bold;
}
input {
    margin: 0.5em 0;
    padding: 0.2em 0;
    width: 90%;
    text-align: center;
}

button {
    padding: 0.5em 1em;
    display: block;
    width: 90%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1.5em;
    gap: 1.5em;
}

.double-height {
    grid-row: span 2;
}

.double-width {
    grid-column: span 2;
}

.channels {
    display: grid;
    grid-template-columns: 1fr 10fr 2fr 5fr;
    align-items: center;
    padding: 0.2em;
    gap: 1em;
}

#prev-rp {
    display: none;
}

.test {
    background-color: aquamarine;
}